<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Add User</h2>
    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>
</div>
</body>
</html>
